# Database
# Connect to the local Postgres instance defined in docker-compose.yml
DATABASE_URL=postgres://siris_user:siris_password@localhost:5433/siris_db

# Auth
# Better Auth secret (Generate a strong random string for production)
BETTER_AUTH_SECRET=siris_local_development_secret_key_which_is_at_least_32_characters_long
# Better Auth base URL (Local development URL for Wrangler)
BETTER_AUTH_URL=http://localhost:8787

# General
NODE_ENV=development
